<div class="login-content">
    <div class="col-xs-12 col-sm-6 col-md-4 col-lg-3">
        <img src="../assets/images/core/logo.png" class="img-responsive" />
        <form name="form" ng-submit="form.$valid && login()" ng-class="{ 'was-validated': form.$submitted && !form.$valid }" novalidate>
            <div class="form-group input-group-lg">
                <label for="username">Usuário</label>
                <input type="text" name="username" class="form-control input-lg" ng-model="username" maxlength="30" required>
                <div class="invalid-feedback" ng-messages="form.$submitted && form.username.$error">
                    <div ng-message="required">Campo nome é obrigatório</div>
                </div>
            </div>
            <div class="form-group input-group-lg">
                <label for="password">Senha</label>
                <input type="password" name="password" class="form-control" ng-model="password" maxlength="30" required>
                <div class="invalid-feedback" ng-messages="form.$submitted && form.password.$error">
                    <div ng-message="required">Campo senha é obrigatório</div>
                </div>
            </div>
            <div class="checkbox-custom">
                <label class="form-check-label" for="rememberMe">
                    <input class="form-check-input" type="checkbox" id="rememberMe" ng-model="rememberMe"> 
                    <span class="btn-default"></span>
                    Continuar conectado
                </label>
            </div>
            <div>
                <button type="submit" class="btn btn-lg btn-primary-login col-12">ENTRAR</button>
            </div>
            <a ui-sref="esqueciSenha" href="javascript:void(0);" class="forgot-password">
                <b>Esqueci a senha</b>
            </a>
        </form>
    </div>
</div>