.login-content {
	min-height: 100vh;
	justify-content: center;
	align-items: center;
	padding-left: 15px;
	padding-right: 15px;
	display: flex;
	&:before {
		content: '';
		background-image: url('../images/core/fundo.png');
		background-position: center;
		background-repeat: no-repeat;
		background-size: cover;
		position: fixed;
		left: 0;
		right: 0;
		top: 0;
		bottom: 0;
	}
	label {
		color: #fff;
	}
}

.img-responsive {
    display: block;
    max-width: 100%;
    height: auto;
}

.checkbox-custom {
	position: relative;
	padding-right: 0;
	display: inline-block;
	vertical-align: middle;
	cursor: pointer;
	margin-bottom: 10px;
  
	input[type=checkbox] {
	  position: absolute;
	  height: inherit;
	  width: inherit;
	  opacity: 0;
	  left: 0;
	}
	span {
	  cursor: pointer;
	  position: relative;
	  margin-right: 5px;
	  display: inline-block;
	  height: 20px;
	  width: 20px;
	  vertical-align: middle;
	  &:before {
		position: absolute;
		top: 0;
		left: 0;
		right: 0;
		bottom: 0;
		content: " ";
		color: #31b484;
		text-align: center;
		font-size: 22px;
		border: solid 2px #ddd;
		line-height: 16px;
	  }
	}
	span.pass {
		float: right;
		padding-top: 2px;
	}
}

.checkbox-custom {
	input:checked +  span:before {
	  background: white;
	  border-color: white;
	  content: "\2713";
	}
  }
  .radio-custom {
	position: relative;
	padding-right: 15px;
	display: inline-block;
	vertical-align: middle;
	cursor: pointer;
  
	input[type=radio] {
	  position: absolute;
	  height: inherit;
	  width: inherit;
	  opacity: 0;
	  left: 0;
	}
	span  {
	  cursor: pointer;
	  position: relative;
	  margin-right: 5px;
	  display: inline-block;
	  height: 20px;
	  width: 20px;
	  vertical-align: middle;
	  &:before {
		position: absolute;
		top: 0;
		left: 0;
		right: 0;
		bottom: 0;
		content: " ";
		color: #fff;
		text-align: center;
		font-size: 22px;
		border: solid 2px #ddd;
		line-height: 16px;
		border-radius: 30px;
	  }
	}
}

.radio-custom {
	input:checked +  span:before {
	  height: 20px;
	  width: 20px;
	  background: #31b484;
	  border-color: #ddd;
	}
}

.btn-primary-login {
    color: #fff;
    background-color: #31b484;
    border-color: #2ca075;
}

.btn-primary-login:hover {
    color: #fff;
    background-color: #31b484;
    border-color: #2ca075;
}

.btn-primary-login:hover, 
.btn-primary-login:focus, 
.btn-primary-login.focus, 
.btn-primary-login:active, 
.btn-primary-login.active {
    color: #292b1e;
    background-color: #f6b642;
    border-color: #c38514;
}

.forgot-password {
	color: #31b484 !important;
	font-weight: bold;
	text-decoration: none !important;
}